<% if @kolvo_posl == 0 %>
    <script type="text/javascript">
      alert( "Последовательностей не обнаружено" );
      window.location.href="/calc/input"
    </script>
    <% else %>
        <div class="input_form">
      <table class="output_table">
        <tr>
          <th>Информация</th>
          <th>Данные</th>
        </tr>
        <% @inputed.each_with_index do |num,ind| %>
            <tr>
              <td><%=ind+1%></td>
              <td><%=num%></td>
            </tr>
        <% end %>
        <tr>
          <td>Все последовательности</td> <td><%= @all %></td>
        </tr>
        <tr>
          <td>Количество последовательностей</td> <td><%= @kolvo_posl %></td>
        </tr>
        <tr>
          <td>Самая длинная последовательность</td> <td> <%=@max_posl %> </td>
        </tr>
      </table>
          <%= link_to "Repeat", calc_input_path %>
        </div>
  <% end %>
